@font-face {
  font-family: "Dosis";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/dosis-400.woff2") format("woff2");
}
@font-face {
  font-family: "Dosis";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/dosis-600.woff2") format("woff2");
}
@font-face {
  font-family: "Dosis";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/dosis-700.woff2") format("woff2");
}
@font-face {
  font-family: "Macondo Swash Caps";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/macondo-swash-caps-400.woff2") format("woff2");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/roboto-400.woff2") format("woff2");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/roboto-500.woff2") format("woff2");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/roboto-700.woff2") format("woff2");
}
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/roboto-slab-400.woff2") format("woff2");
}
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/roboto-slab-600.woff2") format("woff2");
}
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/roboto-slab-700.woff2") format("woff2");
}
